<footer id="ft" class="site-footer">
  <span class="lx lx2">
		<p>Copyright &copy; 1998-2017 <a rel="me" href="mailto:me@worldmaker.net">Max Battcher</a>. <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Some Rights Reserved</a>.</p>
  </span>
  <a xmlns:sioc="http://rdfs.org/sioc/ns#" rel="sioc:has_owner" href="https://creativecommons.net/WorldMaker/"><img src="https://creativecommons.net/i/worldmaker/" style="border:0px;" /></a>
  <a class="button is-info" rel="me" href="https://smeap.com/@max">
      @max@smeap.com
  </a>
  <a class="button is-info" href="/about/">Colophon</a>
</footer>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script src="https://cdn.rawgit.com/ekalinin/typogr.js/0.6.6/typogr.min.js"></script>
<script>
$(function() {
    $('.content').each(function () {
       var $this = $(this)
       $this.html(typogr.typogrify($this))
    })
})
</script> 

