<footer id="ft" class="site-footer">
  <span class="lx lx2">
		<p>Copyright &copy; 1998-2017 <a rel="me" href="mailto:me@worldmaker.net">Max Battcher</a>. <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Some Rights Reserved</a>.</p>
  </span>
  <a xmlns:sioc="http://rdfs.org/sioc/ns#" rel="sioc:has_owner" href="https://creativecommons.net/WorldMaker/"><img src="https://creativecommons.net/i/worldmaker/" style="border:0px;" /></a>
  <a class="button is-info" rel="me" href="https://smeap.com/@max">
      @max@smeap.com
  </a>
  <a class="button is-info" href="/about/">Colophon</a>
</footer>

<script src="https://cdn.jsdelivr.net/gh/ekalinin/typogr.js@0.6.7/typogr.min.js"></script>
<script async>
function typogrify() {
  document.querySelectorAll('.content').forEach(function (element) {
    element.innerHTML = typogr.typogrify(element.innerHTML)
  })
}
// `DOMContentLoaded` may fire before your script has a chance to run, so check before adding a listener
if (document.readyState === 'loading') {
  document.addEventListener("DOMContentLoaded", typogrify);
} else {  // `DOMContentLoaded` already fired
  typogrify();
}
</script>
