<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />

    <title>{{ if page.title }}{{ page.title }}{{ else }}WorldMaker.net{{ /if }}</title>
    <meta name="description" content="Max Battcher's personal blog">
    <meta name="author" content="Max Battcher" />
    <meta name="Copyright" content="Copyright (c) 1999-2026 Max Battcher / WorldMaker.net" />
    <link rel="stylesheet" type="text/css" href="/assets/lcars-moderne.css" media="screen" />
</head>
