<header class="site-header" id="hd">
  <a href="/" id="gear" title="WorldMaker.net"></a>
  <h1 id="hd-pt" class="h1 post-title">{{ if page.title }}{{ page.title }}{{ else }}WorldMaker.net{{ /if }}</h1>
  <span class="fill"></span>
  <button type="button" id="scrolldir" class="button is-primary">
    Scroll Horizontally ➡
  </button>
</header>
