<aside id="nav-bar">
    <div id="nav-bar-interior">
        {{ if nav_extra }}{{ nav_extra }}{{ /if }}
        <a class="button is-info" rel="me" href="http://blog.worldmaker.net/" title="My Blog"> Blog</a>
        <a class="button is-info" rel="me" href="http://worldmaker.net/" title="WorldMaker.net" id="current">Main</a>
        <a class="button is-info" rel="me" href="http://github.com/WorldMaker/" title="My Code Site">Code</a>
    </div>
</aside>
